@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
	 transition:all .3s linear;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 5rem;
}

body {
    background: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:#eee;
    /*background: var(--bg-color-1);*/
    box-shadow:rgba(0,0,0,0.1);
    padding: 1rem 7%;
    z-index: 1000;
    
    align-items: center;
    justify-content: space-between;
	display:flex;
	flex-wrap:wrap;
}
.header .logo
{
	font-size:30px;
	font-weight:bold;
}
/*menu bar*/
.menu {
    
}

.main,
.tree {
    list-style: none;
    margin: 0;
    padding: 0;
	font-size : 22px;


}

.main li {
    
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.main li a {
    display: block;
    color: black;
	font-weight:bold;
    text-decoration: none;
}

.main>li {
    float: left;
    border-radius:9px;
	
}

.main li a:hover {
    background-color: rgba(27,23,62,0.1);
	border-radius:9px;
	border:1px solid white;
}

.tree {
    display: none;
}

.main>li:hover .tree {
    display: block;
}

.tree li {
    border-radius:9px;
	border:1px solid white;
}
/*middle page*/
.middle_page
{
	background-color:#fff;
	height:40rem;
	margin-top:4.8rem;
}
.middle_page .svg_img
{
	padding-top:100px;
}
.middle_page .search
{
	width:680px;
	position:absolute;
	top:47%;
	left:55%;
	
}
.middle_page .search p
{
	width:100%;
	font-size:1.3rem;
	color:black;
	font-weight:bloder;
	padding-bottom:20px;
}
middle_page .search .searchBar
{
	transform:translate(-50%,-50%);
}
/* middle_page /Search Bar*/
.searchBar {
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border: none;
    outline: none;
    background: none;
}

.fa-search:hover {
    color: orangered;
    cursor: pointer;
}

/*Image*/
.container .img_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1.5rem;
}

.container .img_box {

    align-items: center;
    flex-wrap: wrap;
    background-color:#eee;
	border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;


}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--text-color-1);
    font-size: 3rem;
    padding-top: 7rem;
}
.img_box img {
    height: 20rem;
    width: 250px;
    overflow: hidden;
    border-radius: .5rem;
    background: var(--bg-color-2);

}

.img_box:hover img {
    transform: scale(1.05);
}

.read_btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .3rem 3rem;
    font-size: 1.5rem;
    color: white;
    background-color: #211D3F;
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
	
}

.read_btn:hover {
    letter-spacing: .2rem;
}